.grid{
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: 1px solid white;
}
.body{
    background-color: rgb(17, 17, 48);
    font-size: large;
    color: white;
    margin: 20px;
}
.picture{
    text-align: center;
    width: 80;
}
.name{
    text-align: center;
}
p{
    font-size: 18px;
    font-family: serif;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1cm;
}
h3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;

}
h1{
    font-size: 25px;
    height: 50px;
}
h4{
    font-size: 18px;
    font-family: serif;
}
@media screen and (max-width: 425px) 
    body{
        margin: 20px;
    }
    .grid{
        grid-template-columns: 100%;
    }
    .name{
        text-align: center;
    }
    p{
       font-size: 18px;
    }
    h1{
        height: 50px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 18px;
    }
}